<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Formal semantics and pragmatics, philosophy of language, logic.">
  <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.assets_dir }}/css/bundle.css">
  <link type="text/css" rel="stylesheet" title="style" href="{{ site.baseurl }}/style/style.css" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/style/favicon.ico">
  <title>{{ page.title }}</title>
</head>