<!DOCTYPE html>
<html lang="en">
  {% include html_head.html %}
  <body>
    <div class="right">
      <table>
        <tr>
          <td>
            <img src="{{ site.baseurl }}/style/indefinites.png" height="200" alt="Indefinites and beyond" /> 
          </td>
        </tr>
      </table>
      {{ content }}
    </div>
    <div class="project_left">
      <a href="{{ site.baseurl }}/Indefinites">Home</a><br/><br/>
      <a href="{{ site.baseurl }}/Indefinites/people">People</a><br/><br/>
      <a href="{{ site.baseurl }}/Indefinites/results">Results</a><br/><br/>
      <a href="{{ site.baseurl }}/Indefinites/contact">Contact</a><br/><br/>
    </div>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript>
      <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" />
    </noscript>
    <script src="{{ site.baseurl }}/{{ site.assets_dir }}/js/bundle.js"></script>
  </body>
</html>