<!DOCTYPE html>
<html lang="en">
  {% include html_head.html %}
  <body>
    <div class="right">
      {{ content }}
    </div>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript>
      <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" />
    </noscript>
    <script defer src="https://analytics.rednaw.nl/script.js" data-website-id="4a503d4f-08eb-4e34-b634-9cc87b170dfa"></script>
  </body>
</html>
